include *.txt *.md *.rst Makefile *.py
recursive-include gw_storage_redis *.py
recursive-exclude gw_storage_redis *.pyo *.pyc
recursive-include docs *.txt *.py *.rst *.md *
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
